.shop-container {
  display: flex;
}
.product-container {
  width: 70%;
  margin: 0 20px 0 115px;
  padding-right: 40px;
  border-right: 1px solid lightgray;
}
.cart-container {
  margin: 0 80px 0 20px;
}
